body {
    background-color: rgba(209, 209, 209, 0.664);
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    color: rgba(255, 0, 0, 0.644);
    text-align: center;
    font-size: 30px;
}

.mainContainer {
    margin-top: 5em;
    align-items: center;
}

.toolBar {
    max-width: 10%;
    margin-left: 10%;
    margin-top: 5%;
}

button {
    padding: 3em;
    margin: 1em;
    width: 10em;
    text-align: center;
    font-weight: bold;
    background-color: rgba(54, 114, 167, 0.486);
    border-radius: 7%;
    border: dotted 2px rgba(32, 32, 173, 0.61);
    font-size: 16px;
}

.gridContainer {
    display: flex;
    flex-wrap: wrap;
    border: 5px solid rgba(255, 0, 0, 0.637);
    width: 600px;
    height: 600px;
    position:fixed;
    top: 25%;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.gameGrid{
    background-color: grey;
    outline: solid rgba(177, 18, 18, 0.459) 1px;
    width: calc(100% / 16);
    height: calc(100% / 16);
}